:root {
    --dark-blue: #041C42;
    --blue1: rgb(15, 83, 134);
    --blue2: #40D3E2;
    --brown1: #913313;
    --brown2: #EC9E49;
    --white: #ffffff;
    --black: #000000;
    --cards: #1C2841;
    --orange: rgb(255,69,0);
    --tomato:  rgb(255,99,71);
    --crimson: rgb(220,20,60);
}

/**
##########
###############
####################
FORM
####################
###############
##########
*/
.container {
    margin-top: 24px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.singup {
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1.5em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 32%;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 4px rgba(192,192,192,0.8);
    -webkit-box-shadow: 0px 0px 30px 4px rgba(192,192,192,0.8);
    -moz-box-shadow: 0px 0px 30px 4px rgba(192,192,192,0.8);
    border-radius: 8px;
}

.inputBox,
.inputBox1 {
    position: relative;
    width: 80%;
}

.inputBox input,
.inputBox1 input,
.input_add_prod textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: var(--black);
    font-size: 1em;
    background: transparent;
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span,
.input_add_prod .desc {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: var(--black);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.input_add_prod textarea:focus~span,
.input_add_prod textarea:valid~span {
    transform: translateX(100%) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--black);
    letter-spacing: 0.2em;
    color: var(--white);
    border: 2px;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
    transform: translateX(100%) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--black);
    letter-spacing: 0.2em;
    color: var(--white);
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
    border: 2px solid var(--black);
    border-radius: 8px;
}

.inputBox .fpass {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 16px 0;
    color: var(--cards);
}

.enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid var(--black);
    color: var(--black);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 32px 0;
}

.enter:hover {
    background-color: var(--black);
    color: var(--white);
}

/**
##########
###############
####################
Toggle Login Form
####################
###############
##########
*/

.toggleLogin {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleLogin button {
    position: relative;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 20px;
    transition: .5s;
    cursor: pointer;
}

.toggleLogin button:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toggleLogin button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toggleLogin .active {
    background: var(--blue2);
}

.toggleLogin button:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    left: -8%;
    width: 16%;
    height: 100%;
    background-color: inherit;
    border-radius: 50%;
    transition: 0s;
}

@media screen and (max-width: 600px) {
    .toggleLogin button {
        width: 56%;
    }
}