:root {
    --dark-blue: #041C42;
    --blue1: rgb(15, 83, 134);
    --blue2: #40D3E2;
    --brown1: #913313;
    --brown2: #EC9E49;
    --white: #ffffff;
    --black: #000000;
    --cards: #1C2841;
    --orange: rgb(255,69,0);
    --tomato:  rgb(255,99,71);
    --crimson: rgb(220,20,60);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.botnav {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 30;
    background: color-mix(in srgb, var(--blue2) 80%, var(--white));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid var(--blue2);
}

.dark .botnav {
    background: var(--black);
    border-top: 2px solid var(--blue2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.botnav .icons {
    display: flex;
    justify-content: space-around;
}

.botnav .icon {
    width: 40px;
    height: 40px;
    fill: var(--white);
    stroke: var(--white);
    cursor: pointer;
}

.botnav .cardi {
    stroke: var(--blue2);
}

.botnav .set {
    width: 36px;
}

.dark .botnav .icon {
    fill: var(--white);
    stroke: var(--white);
}

.dark .botnav .card {
    stroke: var(--black);
}