:root {
    --dark-blue: #041C42;
    --blue1: rgb(15, 83, 134);
    --blue2: #40D3E2;
    --brown1: #913313;
    --brown2: #EC9E49;
    --white: #ffffff;
    --black: #000000;
    --cards: #1C2841;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.dark {
    background: var(--black);
    color: var(--white);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: color-mix(in srgb, var(--white) 20%, var(--blue2));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dark .navbar {
    background: var(--black);
    border-bottom: 2px solid var(--blue2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar img {
    position: relative;
    left: 4%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.navbar .mininav {
    height: 100%;
    padding: 12px 16px;
    display: flex;
    gap: 2rem;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(50, 50, 50, 0.6);
    -webkit-box-shadow: 0px 0px 30px 1px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 30px 1px rgba(50, 50, 50, 0.6);
}

.navbar .mininav a {
    position: relative;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.navbar .mininav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 0;
    background: var(--blue2);
    border-radius: 5px;
    transition: 0.5s;
}

.navbar .mininav a.active::before {
    width: 100%;
}

.dark .navbar .mininav {
    background: rgba(20, 20, 20);
    box-shadow: 0px 0px 30px 1px rgba(125, 125, 125, 0.6);
    -webkit-box-shadow: 0px 0px 30px 1px rgba(125, 125, 125, 0.6);
    -moz-box-shadow: 0px 0px 30px 1px rgba(125, 125, 125, 0.6);
}

.dark .navbar .mininav a {
    color: var(--white);
}

.navbar .profile {
    position: relative;
    right: 16%;
    stroke: none;
    width: 56px;
    height: 56px;
    fill: var(--white);
    background: var(--blue2);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 30px 1px rgba(50, 50, 50, 0.6);
    -webkit-box-shadow: 0px 0px 30px 1px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 30px 1px rgba(50, 50, 50, 0.6);
}

.dark .navbar .profile {
    background: var(--white);
    fill: var(--black);
}


@media screen and (max-width: 600px) {
    .navbar img {
        width: 56px;
        height: 56px;
    }
    .navbar .profile {
        width: 48px;
        height: 48px;
    }
}